.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  min-width: 300px;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
}
.App-content-section {
  margin: 0 0 0 10vw;
}

.App-logo-container {
  width: 10vw;
  position: absolute;
  right: 0;
  overflow: hidden;
}

.App-logo {
  width: 10vw;
  pointer-events: none;
}

.Choose-file {
  display: flex;
  margin: 2vh 0 2vh 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
